@font-face {
  font-family: "Anurati-Regular";
  src: url("../fonts/Anurati-Regular.otf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "ZELDA";
  src: url("../fonts/ZELDA.ttf");
  font-style: normal;
  font-weight: normal; }
